*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type='range'] {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 50px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type='range']:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #ff5555;
  border-radius: 50vh;
  height: 0.4rem;
}

/* slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12.5px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #5555ff;
  border-radius: 50vh;
  height: 2rem;
  width: 2rem;
}

input[type='range']:active::-webkit-slider-thumb {
  opacity: 0.5;
}

/******** Firefox styles ********/
/* slider track */
input[type='range']::-moz-range-track {
  background-color: #ff5555;
  border-radius: 50vh;
  height: 0.5rem;
}

/* slider thumb */
input[type='range']::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/

  /*custom styles*/
  background-color: #5555ff;
  border-radius: 50vh;
  height: 2rem;
  width: 2rem;
}

input[type='range']:active::-moz-range-thumb {
  opacity: 0.5;
}
