:root {
  --color-green: #4dc000;
  --color-yellow: #f0c000;
  --color-light-blue: #d0d8f0;
  --color-light-gray: #606870;
  --color-dark-gray: #202830;
  --color-white: #ffffff;
  --color-transparent: #3c40433a;
  --header-height: 8rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Consolas, monospace;
  text-decoration: none;
  user-select: none;
}

*:focus {
  outline: none;
}

.main {
  min-height: calc(100% - var(--header-height));
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: var(--header-height);

  color: var(--color-green);
  font-size: 3vw;
  border-bottom: solid 0.5rem var(--color-light-gray);
  background-color: var(--color-dark-gray);
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project {
  margin: 1.3rem 2rem;

  box-shadow: var(--color-transparent) 0px 10px 30px 5px;
}
.project-links {
  display: flex;
  justify-content: space-evenly;

  min-width: 0;
}
.project-link {
  margin: 0.8rem 0 1rem;
  padding: 0.3rem 4rem;

  background-color: var(--color-light-blue);
  color: var(--color-dark-gray);

  border-radius: 0.2rem;
  box-shadow: var(--color-transparent) 0px 1px 2px 0px,
    var(--color-transparent) 0px 1px 3px 1px;
  cursor: pointer;
}
.project-link:hover {
  background-color: var(--color-light-gray);
}
.project-name {
  display: inline-block;

  width: 100%;
  padding: 0.3rem 1rem;

  color: var(--color-dark-gray);
  font-size: 1.25em;
  font-weight: 800;
  text-align: left;

  border-radius: 0.2rem;
}
.project-note {
  width: 100%;
  padding: 2rem;

  color: var(--color-dark-gray);
  text-align: center;
  font-size: 1vw;
}

.project-gsap .project-name {
  background-color: var(--color-green);
}
.project-pixi .project-name {
  background-color: var(--color-yellow);
}

@media only screen and (max-width: 1260px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    font-size: 4vw;
  }
  .project-note {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 860px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    font-size: 5vw;
  }
  .project-note {
    font-size: 3vw;
  }
}
